@import "../../styles/variables.scss";

.article-list-item,
.article-list-item-dark {
  padding: 0;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  p {
    line-height: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 2rem;
    position: relative;

    &::before {
      border-right: 5px solid;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      left: 0.5rem;
      top: 0;
    }
  }
}

.keep-reading {
  color: inherit;
  display: block;
  position: relative;
  text-align: right;

  &:hover {
    opacity: 0.5;
  }

  &::before {
    content: "";
  }
}
