// fonts
$std-font: Helvetica, arial, "Ping Fanf TC", "Microsoft Jenghei", sans-serif;
$serif: "Playfair Display", serif;

// colors
$black: #000;
$black-80: rgba(0, 0, 0, 0.8);
$black-50: rgba(0, 0, 0, 0.5);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);

$white: #fff;
$white-90: rgba(255, 255, 255, 0.9);
$white-80: rgba(255, 255, 255, 0.8);
$white-50: rgba(255, 255, 255, 0.5);

$transparent: rgba(255, 255, 255, 0);

$light-grey: #f8f8f8;

$warn: #dd5757;
$warn-20: rgba(221, 87, 87, 0.2);
$confirm: #60c960;

$haha: hsl(212, 80%, 53%);
