@import "../../styles/variables.scss";

.logo {
  margin-right: 2rem;

  .img {
    height: 80px;
  }
}

@media screen and (min-width: 400px) {
  .logo {
    .img {
      height: 120px;
    }
  }
}

@media screen and (min-width: 500px) {
  .logo {
    .img {
      height: 250px;
    }
  }
}
