@import "../../styles/variables.scss";

.toggler {
  background: $confirm;
  border: 0;
  border-radius: 0.75rem;
  box-shadow: inset 0 2px 3px $black-20;
  cursor: pointer;
  height: 1rem;
  outline: none;
  padding: 0;
  position: absolute;
  transition: 0.3s ease-in-out;
  top: 2rem;
  right: 2rem;
  width: 3rem;

  &::after {
    background: $light-grey;
    border-radius: 50%;
    bottom: -0.25rem;
    box-shadow: 0 2px 3px $black-20;
    content: "";
    display: block;
    height: 1.5rem;
    position: absolute;
    transition: 0.3s ease-in-out;
    left: 0px;
    width: 1.5rem;
  }

  &:hover {
    & ~ .label {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.toggler-off {
  composes: toggler;
  background: $warn;

  &::after {
    left: calc(100% - 1.5rem);
  }
}

.label {
  background: $light-grey;
  border-radius: 1rem;
  box-shadow: 0 2px 3px $black-20;
  top: 4rem;
  right: 2rem;
  opacity: 0;
  padding: 0.5rem 1rem;
  position: absolute;
  transform: translateY(1rem);
  transition: 0.5s ease-in-out;
  visibility: hidden;

  &::before {
    border-top: 10px solid $transparent;
    border-bottom: 10px solid $light-grey;
    border-right: 8px solid $transparent;
    border-left: 8px solid $transparent;
    content: "";
    display: block;
    height: 0px;
    position: absolute;
    top: -18px;
    right: 15px;
    width: 0px;
  }
}
