@import "../../styles/variables.scss";

.work-item {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 2s ease-in-out;
  margin: 2rem 0;
  position: relative;
}

.work-item-hide {
  opacity: 0;
  transform: translateY(200px);
}

.work-thumbnail {
  width: 100%;
}

.work-thumbnail-link {
  transform-style: preserve-3d;
  transition: 0.5s ease-in-out;
  display: block;
  height: 100%;
  width: 100%;
}

.work-info {
  color: inherit;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 1rem 0;
}

.work-date {
  color: inherit;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.anchor {
  bottom: calc(50vh + 50%);
  position: absolute;
}

@media screen and (min-width: 768px) {
  .work-item {
    align-items: center;
    flex-direction: row;

    &:nth-of-type(even) {
      justify-content: flex-end;

      .work-thumbnail-link {
        order: 2;
        transform: perspective(1000px) rotate3d(0, -1, 0, 20deg);
      }

      .work-info {
        text-align: right;
        margin-right: 2rem;
      }
    }
  }

  .work-thumbnail-link {
    display: block;
    height: 100%;
    transform: perspective(1000px) rotate3d(0, 1, 0, 20deg);
    width: 45%;
  }

  .work-info {
    padding: 1rem;
    margin-left: 2rem;
    text-align: left;
  }
}
